.logo img{
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    width: 20%;
}

.bg-gradient-primary {
    background-color: white !important;
    background-image: none;
}

.col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 36.33333%;
}

.col-md-4 {
    max-width: 100%;
}

ul {
    list-style: none;color: red;padding: 5px;font-size: 12px
}